html {
    box-sizing: border-box;
    background-color: lightgrey;
    --fondobg: white;
    --botonbg: DimGray;
    --colorhover: lightskyblue;
    /* --botonop: 0.85; */
    --anchofondo: 60%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.dark-mode {
    background-color: lightgrey;
    color: #000;
    filter: invert(1);
}

/* .dark-mode img {
    filter: invert(1);
} */

/* +++++++++++++++++++++++ LISTADOS +++++++++++++++++++++++++++++*/
.listado {
    background-color: var(--fondobg);
    text-align: center;
    border-collapse: collapse;
    width: var(--anchofondo);
    margin-left: auto;
    margin-right: auto;
}

.listado tr {
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}

.listado td {
    padding: 1rem;
}

.cif {
    display:none;
}

.btn-listado {
    background-color: var(--botonbg);
    color: white;
    border-radius: 0.5rem;
    border: medium solid var(--botonbg);
    padding: 0.5em 0.5em;
    text-decoration: none;
}

.btn-listado:hover {
    opacity: var(--botonop);
    border: medium solid var(--colorhover);
    color: var(--colorhover);
}

/* ++++++++++++++++++++++ FORMULARIOS +++++++++++++++++++++++++++*/

.formulario {
    background-color: var(--fondobg);
    margin-left: auto;
    margin-right: auto;
    width: var(--anchofondo);
    padding: 1rem;
}

.formulario > * {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin: 1.5rem auto 1.5rem auto;
    border: none;
    border-bottom: 1px solid #999;
}

.formulario legend{
    text-align: center;
    border-bottom: none;
}

.formulario label{
    font-weight: bold;
    border-bottom: none;
}

.formulario input:read-only{
    color:DimGray;
}

.formulario input:focus{
    outline: none;
}

.formulario input[type="submit"] {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    background-color: var(--botonbg);
    border: medium solid var(--botonbg);
    border-radius: 0.5rem;
    font-weight: bold;
    color: #fff;
}


.formulario input[type="submit"]:hover {
    cursor: pointer;
    opacity: var(--botonop);
    border: medium solid var(--colorhover);
    color: var(--colorhover);
}
